/* Définition des styles pour le carousel */

/* Styles généraux du carousel */
.carou {
  max-width: 50rem;
  width: 100%;
}

/* Conteneur des images du carousel */
.carouImageContainer {
  height: 500px; 
  position: relative;
  width: 100%;
}

/* Styles des images du carousel */
.carouImage {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
}

/* Styles pour les appareils de petite taille */
@media (max-width: 576px) { 
  .carouImageContainer {
    height: 200px;
  }
}
