/* Styles pour les images des événements */

.imgEv {
  max-width: 22rem; /* Largeur maximale de l'image */
  width: 100%; /* Largeur de l'image à 100% */
  height: 25rem; /* Hauteur de l'image */
  margin-left: auto; /* Marge à gauche automatique */
  margin-right: auto; /* Marge à droite automatique */
  display: block; /* Affichage en bloc */
  transition: 0.5s; /* Transition de 0.5 seconde pour les effets de survol */
}

/* Effet de survol pour les images */
.imgEv:hover {
  transform: scale(1.05); /* Agrandissement de l'image */
  transition: 0.5s; /* Transition de 0.5 seconde */
}

/* Styles pour le titre des événements */
.titre {
  height: 5rem; /* Hauteur du titre */
  margin-bottom: 1px; /* Marge en bas */
}

/* Styles pour le titre des événements */
.titleEven {
  font-size: 2rem; /* Taille de police du titre */
  text-decoration: none; /* Pas de décoration de texte par défaut */
}

/* Effet de survol pour le titre des événements */
.titleEven:hover {
  text-decoration: underline; /* Soulignement du texte au survol */
}

/* Styles pour la date des événements */
.dateEven {
  padding-top: 2rem; /* Espacement en haut */
  padding-bottom: 4rem; /* Espacement en bas */
  width: 100%; /* Largeur de la date à 100% */
  height: 50px; /* Hauteur de la date */
}
