.bob img {
    max-width: 30rem; /* Largeur maximale des images */
    max-height: 25rem; /* Hauteur maximale des images */
    transition: 0.3s; /* Transition au survol de l'image */
    padding: 10px;
}

/* Animation au survol de l'image */
.bob img:hover {
    transform: scale(1.03); /* Légère augmentation de la taille de l'image */
    cursor: pointer; /* Curseur de la souris change en pointeur */
}

/* Styles pour les liens dans la description */
.divDescription a {
    text-decoration: none; /* Suppression du soulignement des liens */
    font-size: 2rem; /* Taille de police des liens */
}

/* Effet au survol des liens dans la description */
.divDescription a:hover {
    text-decoration: underline; /* Soulignement des liens au survol */
}

/* Styles pour le fond des div de description */
.bob .backDiv {
    background-color: black; /* Couleur de fond des div de description */
    color: azure; /* Couleur du texte des div de description */
    margin: 0 auto;
    width: 30rem;
    height: 40rem;
    border: 1px solid #333;

}

/* Styles pour les titres */
.titre {
    height: 5rem; /* Hauteur des titres */
    margin-bottom: 1px; /* Marge inférieure des titres */
}

/* Styles pour les titres des événements */
.titleEven {
    font-size: 2rem; /* Taille de police des titres des événements */
    text-decoration: none; /* Suppression du soulignement des titres des événements */
}

/* Effet au survol des titres des événements */
.titleEven:hover {
    text-decoration: underline; /* Soulignement des titres des événements au survol */
}
