.container-fluid {
    padding-left: 0 !important; /* Supprime le padding à gauche */
    padding-right: 0 !important; /* Supprime le padding à droite */
}
  
.nav {
    background-color: black; /* Couleur de fond de la barre de navigation */
    padding: 2rem 0; /* Ajoute un espace de remplissage en haut et en bas */
}
  
.nav ul {
    display: flex; /* Affiche les éléments en ligne */
    align-items: center; /* Centre les éléments verticalement */
    justify-content: center; /* Centre les éléments horizontalement */
    gap: 20px; /* Ajoute un espacement entre les éléments */
    padding: 0; /* Supprime le padding */
    margin: 0; /* Supprime les marges */
    list-style-type: none; /* Supprime les puces de liste */
}
  
.nav a {
    color: azure; /* Couleur du texte des liens */
    text-decoration: none; /* Supprime la soulignement des liens */
    padding: 15px 7px; /* Ajoute un espacement autour du texte des liens */
    border-radius: 10px; /* Ajoute des coins arrondis aux liens */
    background-color: transparent; /* Couleur de fond transparente */
    transition: color 0.3s, background-color 0.3s; /* Transition fluide pour la couleur du texte et la couleur de fond */
}
  
.nav a:hover, .nav a:focus {
    color: black; /* Couleur du texte au survol */
    background-color: white; /* Couleur de fond au survol */
}
  
.activeLink {
    color: black !important; /* Couleur du texte des liens actifs */
    background-color: azure !important; /* Couleur de fond des liens actifs */
}
