.eventImage{ /* Style pour la classe eventImage */
    width: 100rem; /* Largeur maximale de 100rem */
    max-height: 70rem; /* Hauteur maximale de 70rem */
}

.eventImage img{ /* Style pour les images à l'intérieur de eventImage */
    width: 100%; /* Largeur de l'image à 100% */
    max-height: 60rem; /* Hauteur maximale de l'image de 60rem */
    height: 100%; /* Hauteur de l'image à 100% */
}

.ticketQuantity button { /* Style pour les boutons dans ticketQuantity */
    padding: 5px 10px; /* Rembourrage de 5px en haut et en bas, 10px à gauche et à droite */
    margin: 0 5px; /* Marge de 0 en haut et en bas, 5px à gauche et à droite */
    background-color: #ddd; /* Couleur de fond #ddd */
    border: none; /* Pas de bordure */
    cursor: pointer; /* Curseur pointeur */
    border-radius: px; /* Rayon de bordure */
  }
  
  .ticketQuantity span { /* Style pour les spans dans ticketQuantity */
    padding: 5px 10px; /* Rembourrage de 5px en haut et en bas, 10px à gauche et à droite */
  }
  
  .submitButton { /* Style pour le bouton submitButton */
    padding: 10px 20px; /* Rembourrage de 10px en haut et en bas, 20px à gauche et à droite */
    background-color: red; /* Couleur de fond rouge */
    color: white; /* Couleur du texte blanc */
    border: none; /* Pas de bordure */
    border-radius: 8px; /* Rayon de bordure de 8px */
    cursor: pointer; /* Curseur pointeur */
  }
