.eventImage{
    width: 100rem;
    max-height: 70rem;
}

.eventImage img{
    width: 100%; 
    max-height: 60rem;
    height: 100%;
}

.ticketQuantity button {
    padding: 5px 10px;
    margin: 0 5px;
    background-color: #ddd;
    border: none;
    cursor: pointer;
    border-radius: px;
  }
  
  .ticketQuantity span {
    padding: 5px 10px;
  }
  
  .submitButton {
    padding: 10px 20px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }